{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <h1>Edit Phone</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-info" type="submit" value="Edit">
        {{ form_end(form) }}
    </div>

{% endblock %}